* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 15px 20px;
  overflow: hidden;
}
.logo-container {
  display: flex;
  align-items: center;
  float: left;
  top: -10px;
}

.logo-container a {
  color: black;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin: 0px 0px 0px -35px;
  text-decoration: none;
}
.list-container {
  display: flex;
  list-style: none;
  float: right;
  /* margin-left: 10rem; */
  /* margin-top: 15px; */
}
.list-container li {
  margin-top: 8px;
}

.list-container a {
  color: black;
  padding: 20px 20px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Raleway";
  letter-spacing: 1px;
  font-family: Raleway;
  text-transform: uppercase;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}

.btn {
  color: #fff;
  border: none;
  background-color: #4ba87d;
  text-transform: uppercase;
  font-weight: bold;
  width: 8rem;
  height: 2rem;
  padding: 10px 10px;
  margin-left: 20px;
}

.section1 {
  background-image: url("../item/d1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}

.display-content {
  position: absolute;
  margin-top: 5vw;
  margin-right: 20vw;
}
.display-img {
  /* margin-top: 5vw; */
  margin: 17vh 0vh 0vw 55vh;
  /* margin: 15vh 10vh 0vw 0vh; */
}
.disp-head {
  font-size: 3rem;
}
.display-content p {
  margin: 1vw;
  width: 33vw;
  font-size: 1.5rem;
}
.display-content btn {
  margin: 1vw;
}
.btn-try {
  padding: 0.6vw 2.5vh;
  color: white;
  background-color: #4ba87d;
  border-color: black;
  font-family: "Raleway";
  font-weight: 900;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin: 1vw;
}
.btn-get {
  padding: 0.6vw 2.5vh;
  color: #4ba87d;
  background-color: white;
  border-color: #4ba87d;
  font-family: "Raleway";
  font-weight: 900;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 1vw;
}

.vid-container {
  align-items: center;
  justify-content: center;
  margin: 30px 0px 0px 150px;
}
.vid-container img {
  margin: 10vw 0vh 0vw 20vh;
}
.vid-content {
  margin: 22vw 50vh;
  position: absolute;
  /* justify-content: center; */
  /* align-items: center; */
}
.vid-content p {
  color: white;
  font-size: 3rem;
}
.vid-content button {
  background-color: white;
  padding: 1vw;
  margin-top: 1vw;
  margin-left: 12vw;
}

.section2 {
  background-image: url("../item/d2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  display: flex;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  width: 20vw;
}
.grid-item2 {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 10vw;
  transition: 0.2s;
  width: 20vw;
}
.grid-item3 {
  border-radius: 0.4rem;
  overflow: hidden;
  margin-top: 12vw;
  font-weight: 900;
  cursor: pointer;
  transition: 0.2s;
  width: 20vw;
}
.grid-item3 h1 {
  font-size: 2rem;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.grid-item2:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-text {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
.card-text3 {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  font-size: 1rem;
  font-family: "Raleway";
  text-align: center;
  color: #4ba87d;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}

.carousel-container {
  display: flex;
  margin: 12vw 0vh 0vw 10vh;
}
.carousel-item {
  margin: 2vw;
}
.contact-header {
  padding: 0vw 45vh;
  margin-top: 2vw;
  align-items: center;
  justify-content: center;
}
.contact-header2 {
  padding: 0vw 50vh;
  margin-top: 2vw;
  align-items: center;
  justify-content: center;
}

.contact h1 {
  font-size: 3rem;
}
.contact-input {
  padding: 0vw 45vh;
  align-items: center;
  justify-content: center;
  margin: 1vw 5vh 0vw 5vh;
}
.input-txt {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-btn {
  color: #fff;
  border: none;
  font-family: "Raleway";
  font-weight: 900;
  background-color: #4ba87d;
  text-transform: uppercase;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  padding: 10px 10px;
  margin-left: 20px;
}
.contact-msg {
  color: #4ba87d;
  justify-content: center;
  align-items: center;
  padding: 0vw 50vh;
}

.brand ul {
  display: flex;
  list-style-type: none;
  margin: 1vw 30vh;
}
.brand li {
  margin: 2vw;
}

.plan {
  background-color: #4ba87d;
  padding: 5vw 50vh;
  height: 366px;
}
.plan-txt {
  font-size: 5rem;
  color: white;
  margin: 1vw 9vh;
}
.plan-btn {
  padding: 0.8vw 2.5vh;
  color: #4ba87d;
  background-color: white;
  border: none;
  border-color: #4ba87d;
  font-family: "Raleway";
  font-weight: 900;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 0vw 35vh;
}

.footer {
  background-color: white;
  color: black;
  display: flex;
  padding: 3vw 13vh 0vw 24vh;
  font-family: "Raleway";
  font-weight: 600;
}
.footer1 {
  display: flex;
  margin: 1vw 30vh;
}
.hr {
  width: 1088px;
  text-align: left;
  margin: 2vw 0vw 0vh 12vw;
}
.address1 {
  display: flex;
  margin: 2vw 25vh;
}
.address1 p {
  margin: 0.5vw 5vh;
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 700;
}

.link1 {
  width: 10vw;
  font-size: 20px;
}
.link1 li {
  list-style-type: none;
  margin: 5px;
}

@media only screen and (max-width: 1024px) {
  .display-content p {
    /* margin: 1vw; */
    /* width: 33vw; */
    font-size: 1rem;
  }
  .display-content {
    /* position: absolute; */
    /* margin-top: 5vw; */
    margin-right: 25vw;
  }
  .display-img {
    /* margin-top: 5vw; */
    margin: 7vh 0vh 0vw 2vh;
    /* margin: 15vh 10vh 0vw 0vh; */
  }
  .display-img img {
    width: 50vw;
    height: 44vh;
    margin: 4vw 0vh 5vw 48vh;
  }

  .btn-get {
    padding: 0.6vw 0.8vh;
    /* color: #4ba87d; */
    /* background-color: white; */
    /* border-color: #4ba87d; */
    /* font-family: "Raleway"; */
    /* font-weight: 900; */
    /* word-spacing: 2px; */
    letter-spacing: 1px;
    margin: 1vw;
  }
  .vid-container img {
    margin: 5vw 0vh 0vw 20vh;
    width: 75vw;
  }
  .vid-container {
    /* align-items: center; */
    /* justify-content: center; */
    margin: 10px 0px 0px 10px;
  }
  .vid-content {
    margin: 18vw 40vh;
    /* position: absolute; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .vid-content p {
    /* color: white; */
    font-size: 2.8rem;
  }
  .vid-content button {
    /* background-color: white; */
    padding: 1.3vw;
    margin-top: 2vw;
    margin-left: 15vw;
  }

  .grid-item {
    width: 25vw;
  }
  .grid-item2 {
    width: 25vw;
  }
  .grid-item3 {
    width: 25vw;
  }
  .card-img {
    /* display: block; */
    /* width: 100%; */
    height: 13rem;
    /* object-fit: cover; */
  }
  .carousel-container {
    /* display: flex; */
    margin: 4vw 0vh 0vw 3vh;
  }
  .carousel-item {
    margin: 1vw;
  }
  .carousel-img {
    width: 30vw;
  }
  .contact-header {
    padding: 0vw 20vh;
  }
  .contact-input {
    padding: 0vw 25vh;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 1vw 5vh 0vw 10vh;
  }
  .contact-msg {
    color: #4ba87d;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0vw 35vh;
  }
  .input-btn {
    /* color: #fff; */
    /* border: none; */
    /* font-family: "Raleway"; */
    /* font-weight: 900; */
    /* background-color: #4ba87d; */
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    width: 10rem;
    height: 2.7rem;
    /* padding: 10px 10px; */
    /* margin-left: 20px; */
  }
  .contact-header2 {
    padding: 0vw 45vh;
    /* margin-top: 2vw; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  .brand ul {
    /* display: flex; */
    /* list-style-type: none; */
    margin: 1vw 8vh;
  }
  .plan {
    padding: 7vw 27vh;
  }
  .plan-txt {
    font-size: 4rem;
    /* color: white; */
    margin: 1vw 12vh;
  }
  .plan-btn {
    padding: 0.8vw 2.8vh;
    letter-spacing: 1px;
    margin-top: 1vw;
  }
  .footer {
    padding: 3vw 6vh 0vw 6vh;
  }
  .hr {
    width: 850px;
    /* text-align: left; */
    margin: 2vw 0vw 0vh 7vw;
  }

  .footer1 {
    display: flex;
    margin: 1vw 0vh 2vw 10vh;
  }
  .link1 {
    width: 16vw;
  }
  .address1 {
    display: flex;
    margin: 2vw 12vh;
  }
  .address1 p {
    margin: 0.5vw 5vh;
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container a {
    /* color: black; */
    /* font-family: "Raleway"; */
    /* font-style: normal; */
    /* font-weight: 900; */
    font-size: 20px;
    margin: 0px 0px 0px -30px;
    /* text-decoration: none; */
  }
  .navbar {
    padding: 15px 0px;
  }
  .logo-container img {
    width: 15vw;
  }
  .list-container {
    margin: 0;
  }
  .list-container a {
    color: black;
    padding: 20px 8px;
    font-size: 0.8rem;
  }
  .disp-head {
    font-size: 2.5rem;
  }
  .display-content {
    /* position: absolute; */
    /* margin-top: 5vw; */
    margin-right: 30vw;
  }
  .display-content p {
    /* margin: 1vw; */
    width: 35vw;
    font-size: 0.9rem;
  }
  .display-img img {
    width: 50vw;
    height: 34vh;
    margin: 2vw 0vh 5vw 40vh;
  }

  .btn-try {
    padding: 0.6vw 1.5vh;
    /* color: white; */
    /* background-color: #4ba87d; */
    /* border-color: black; */
    /* font-family: "Raleway"; */
    /* font-weight: 900; */
    word-spacing: 1px;
    letter-spacing: 1px;
    margin: 1vw;
  }
  .btn-get {
    padding: 0.6vw 0.8vh;
    /* color: #4ba87d; */
    /* background-color: white; */
    /* border-color: #4ba87d; */
    /* font-family: "Raleway"; */
    /* font-weight: 900; */
    /* word-spacing: 2px; */
    letter-spacing: 0px;
    margin: 1vw;
  }
  .vid-container img {
    margin: 10vw 0vh 0vw 12vh;
    width: 75vw;
  }
  .vid-content p {
    font-size: 2.5em;
  }
  .vid-content {
    margin: 22vw 25vh;
    /* position: absolute; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .card-text {
    font-size: 0.6rem;
    /* letter-spacing: 0.1rem; */
    /* line-height: 1.7; */
    /* color: #3d3d3d; */
    margin-bottom: 1.5rem;
  }
  .card-img {
    /* display: block; */
    /* width: 100%; */
    height: 10rem;
    /* object-fit: cover; */
  }
  .card-content {
    padding: 0.5rem;
  }
  .grid-item2 {
    /* background-color: #fff; */
    /* border-radius: 0.4rem; */
    /* overflow: hidden; */
    /* box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%); */
    /* cursor: pointer; */
    margin-top: 8vw;
  }
  .grid-item3 h1 {
    font-size: 1.5rem;
  }
  .card-content {
    padding: 0rem;
    margin: 2vw 0vh 2vw 1vh;
  }
  .card-text3 {
    font-size: 0.8rem;
    letter-spacing: 0rem;
  }
  .carousel-container {
    /* display: flex; */
    margin: 4vw 0vh 0vw 2vh;
  }
  .contact-header {
    padding: 0vw 18vh;
  }
  .contact h1 {
    font-size: 2rem;
  }
  .contact-input {
    padding: 0vw 12vh;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 1vw 5vh 0vw 10vh; */
  }
  .contact-msg {
    /* color: #4ba87d; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0vw 23vh;
  }
  .contact-header2 {
    padding: 0vw 25vh;
    /* margin-top: 2vw; */
    margin: 6vw 10vh 0vw 10vh;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .plan {
    /* background-color: #4ba87d; */
    padding: 6vw 10vh;
    height: 240px;
  }
  .plan-txt {
    font-size: 3rem;
    /* color: white; */
    margin: 1vw 20vh;
  }
  .plan-btn {
    padding: 0.8vw 1.8vh;
    letter-spacing: 1px;
    /* margin-top: 1vw; */
  }
  .footer1 {
    /* display: flex; */
    margin: 1vw 0vh 2vw 10vh;
  }
  .footer {
    padding: 3vw 6vh 0vw 2vh;
  }
  .link1 li {
    /* list-style-type: none; */
    margin: 2px;
  }
  .link1 {
    /* width: 10vw; */
    font-size: 12px;
  }
  .brand ul {
    /* display: flex; */
    /* list-style-type: none; */
    margin: 1vw 2vh;
  }
  .brand-img {
    width: 15vw;
  }
  .hr {
    width: 665px;
    margin: 2vw 0vw 0vh 6vw;
  }
}

@media only screen and (max-width: 430px) {
  .list-container li {
    display: none;
  }
  .logo-container img {
    width: 28vw;
  }
  .logo-container a {
    /* color: black; */
    /* font-family: "Raleway"; */
    /* font-style: normal; */
    /* font-weight: 900; */
    font-size: 20px;
    margin: 0px 0px 0px -20px;
    /* text-decoration: none; */
  }
  .disp-head {
    font-size: 2.2rem;
    width: 82vw;
  }
  .display-img {
    /* margin-top: 5vw; */
    margin: 0vw;
    /* margin: 15vh 10vh 0vw 0vh; */
  }
  .display-content {
    /* position: absolute; */
    margin-top: 12vw;
    margin-right: 10vw;
    height: 30vh;
  }
  .display-content p {
    /* margin: 1vw; */
    width: 85vw;
    font-size: 0.9rem;
  }
  .h1 {
    margin-bottom: 20vw;
  }
  .display-img img {
    width: 95vw;
    height: 20vh;
    margin: 18vw 2vh 0vw 2vh;
  }
  .section1 {
    margin-bottom: 30vw;
  }
  .btn-try {
    padding: 1.6vw 2.5vh;
    margin: 2vw 4vw;
  }
  .btn-get {
    padding: 1.6vw 1.8vh;
    margin: 1vw 2vw;
  }
  .vid-container img {
    margin: 10vw 2vh 0vw 2vh;
    width: 85vw;
  }
  .vid-content {
    margin: 20vw 8vh;
  }
  .vid-content p {
    font-size: 1.2em;
  }
  .card-container {
    padding: 5vw;
    display: block;
  }
  .grid-item {
    width: 65vw;
  }
  .grid-item2 {
    width: 65vw;
    margin-left: 25vw;
  }
  .grid-item3 {
    width: 70vw;
  }
  .card-img {
    /* display: block; */
    /* width: 100%; */
    height: 12rem;
    /* object-fit: cover; */
  }
  .card-content {
    padding: 0.8rem;
    margin: 2vw 0vh 2vw 1vh;
  }
  .card-text {
    font-size: 0.7em;
    margin-bottom: 0.8em;
  }
  .carousel-container {
    display: block;
    /* margin: 4vw 0vh 0vw 2vh; */
  }
  .carousel-img {
    width: 80vw;
  }
  .carousel-item {
    margin: 5vw 3vh 0vw 3vh;
  }
  .contact-header {
    padding: 5vw 2vh 0vh 12vw;
  }
  .contact-input {
    padding: 0vw 0vh;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 1vw 6vh 0vw 5vh;
  }
  .input-txt {
    width: 100%;
  }
  .input-btn {
    width: 8rem;
    height: 2.2rem;
    margin-left: 50px;
  }
  .contact-msg {
    display: none;
  }
  .contact-header2 {
    padding: 0vw 0vh;
    margin: 6vw 4vh 0vw 4vh;
  }
  .plan {
    /* background-color: #4ba87d; */
    padding: 8vw 5vh;
    height: 240px;
  }
  .plan-txt {
    font-size: 3rem;
    /* color: white; */
    /* margin: 9vw 0vh; */
    margin: 8vw 3vh 0vw 2vh;
  }
  .plan {
    /* background-color: #4ba87d; */
    /* padding: 8vw 5vh; */
    height: 290px;
  }
  .plan-btn {
    padding: 3.8vw 1.8vh;
    margin: 8vw 8vh;
  }
  .footer {
    display: inline-grid;
    padding: 5vw 4vh 0vw 2vh;
  }
  .footer1 {
    /* display: flex; */
    margin: 2vw 0vh 2vw 2vh;
  }
  .link1 {
    width: 23vw;
  }
  .hr {
    width: 286px;
    margin: 2vw 0vw 0vh 6vw;
  }
  .address1 {
    display: block;
    margin: 2vw 10vh 2vw 3vh;
  }
  .address1 p {
    margin: 0.5vw 2vh;
    font-size: 10px;
  }
}
